In [3]:
import pandas as pd

In [4]:
matches = pd.read_csv("dataset/ipl/matches.csv")

In [5]:
matches.shape #rows and column

(577, 18)

In [6]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [7]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [8]:
pd.value_counts(matches['season'])

/var/folders/y4/c9cpkf110tq5t528l569_gqc0000gn/T/ipykernel_47767/4187965374.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(matches['season'])

season
2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2015    59
2008    58
2009    57
Name: count, dtype: int64

In [9]:
pd.value_counts(matches['winner'])

/var/folders/y4/c9cpkf110tq5t528l569_gqc0000gn/T/ipykernel_47767/289321548.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(matches['winner'])

winner
Mumbai Indians                 80
Chennai Super Kings            79
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Rajasthan Royals               63
Kings XI Punjab                63
Delhi Daredevils               56
Sunrisers Hyderabad            34
Deccan Chargers                29
Pune Warriors                  12
Gujarat Lions                   9
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: count, dtype: int64

In [10]:
matches.drop_duplicates('season', keep='last')[['season','winner']]

     season                 winner
57     2008       Rajasthan Royals
114    2009        Deccan Chargers
174    2010    Chennai Super Kings
247    2011    Chennai Super Kings
321    2012  Kolkata Knight Riders
397    2013         Mumbai Indians
457    2014  Kolkata Knight Riders
516    2015         Mumbai Indians
576    2016    Sunrisers Hyderabad

In [11]:
#Who's the winner in Every Season finale

In [12]:
matches[(matches['winner'] == 'Chennai Super Kings') & (matches['win_by_runs'] > 50)][['team1','team2','win_by_runs']]

                   team1                        team2  win_by_runs
62   Chennai Super Kings  Royal Challengers Bangalore           92
84   Chennai Super Kings              Deccan Chargers           78
122  Chennai Super Kings        Kolkata Knight Riders           55
225  Chennai Super Kings             Rajasthan Royals           63
247  Chennai Super Kings  Royal Challengers Bangalore           58
253  Chennai Super Kings              Deccan Chargers           74
320  Chennai Super Kings             Delhi Daredevils           86
344  Chennai Super Kings             Delhi Daredevils           86
375  Chennai Super Kings          Sunrisers Hyderabad           77
405  Chennai Super Kings             Delhi Daredevils           93
482  Chennai Super Kings              Kings XI Punjab           97

In [13]:
pd.value_counts(matches['player_of_match']).head()

/var/folders/y4/c9cpkf110tq5t528l569_gqc0000gn/T/ipykernel_47767/84248320.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(matches['player_of_match']).head()

player_of_match
CH Gayle          17
YK Pathan         16
AB de Villiers    15
DA Warner         14
RG Sharma         13
Name: count, dtype: int64

In [14]:
deliveries = pd.read_csv('dataset/ipl/deliveries.csv')

In [15]:
deliveries.shape

(136598, 21)

In [16]:
deliveries.head(1000)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
135598,573,2,Royal Challengers Bangalore,Delhi Daredevils,15,3,SR Watson,V Kohli,P Negi,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
135599,573,2,Royal Challengers Bangalore,Delhi Daredevils,15,4,SR Watson,V Kohli,P Negi,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
135600,573,2,Royal Challengers Bangalore,Delhi Daredevils,15,5,V Kohli,SR Watson,P Negi,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
135601,573,2,Royal Challengers Bangalore,Delhi Daredevils,15,6,SR Watson,V Kohli,P Negi,0,...,0,0,0,0,0,0,0,SR Watson,caught,SW Billings
135602,573,2,Royal Challengers Bangalore,Delhi Daredevils,16,1,STR Binny,V Kohli,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136593,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
136594,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
136595,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
136596,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136597,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [ ]:
# Find player who took most number of catches

In [21]:
# Which player has taken max wickets

temp_df = deliveries.dropna()
#it will remove blank Values

In [24]:
temp_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
33,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,6,2,SC Ganguly,BB McCullum,Z Khan,0,...,0,0,0,0,0,0,0,SC Ganguly,caught,JH Kallis
74,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,13,1,RT Ponting,BB McCullum,JH Kallis,0,...,0,0,0,0,0,0,0,RT Ponting,caught,P Kumar
106,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,18,1,DJ Hussey,BB McCullum,AA Noffke,0,...,0,0,0,0,0,0,0,DJ Hussey,caught,CL White
154,1,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,5,JH Kallis,W Jaffer,AB Agarkar,0,...,0,0,0,0,0,0,0,JH Kallis,caught,M Kartik
157,1,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,2,W Jaffer,CL White,AB Dinda,0,...,0,0,0,0,0,0,0,W Jaffer,caught,RT Ponting

In [28]:
bowlers = temp_df[temp_df['dismissal_kind'] != 'run out'][['bowler']]

In [31]:
pd.value_counts(bowlers['bowler']).head()

DJ Bravo           90
A Mishra           87
R Vinay Kumar      78
Harbhajan Singh    75
A Nehra            70
Name: bowler, dtype: int64

In [32]:
temp_df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,4871.000000,4871.000000,4871.000000,4871.000000,4871.000000,4871.000000,4871.0,4871.000000,4871.000000,4871.0,4871.000000,4871.000000,4871.000000
mean,286.624512,1.474441,12.145966,3.657770,0.001232,0.005132,0.0,0.000411,0.000616,0.0,0.049887,0.006159,0.056046
std,168.029038,0.503492,5.993652,1.781061,0.035079,0.071464,0.0,0.020261,0.024812,0.0,0.227872,0.078245,0.241360
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,139.000000,1.000000,7.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,286.000000,1.000000,13.000000,4.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
75%,432.000000,2.000000,18.000000,5.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
max,577.000000,4.000000,20.000000,9.000000,1.000000,1.000000,0.0,1.000000,1.000000,0.0,2.000000,1.000000,2.000000